name: github pages

on:
  push:
    branches:
    - main
    - 2-fix-storybook-github-action-build-error # <-- 検証ブランチを追加

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: setup node
      uses: actions/setup-node@v3

    - name: install
      run: npm install

    - name: build
      run: npm run build-storybook
      env:
        URL_PREFIX: react-smarpy

    - name: add nojekyll
      run: touch ./storybook-static/.nojekyll

    - name: deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./storybook-static
